@reference "./index.css";

.story-hero-bg {
  @apply relative isolate overflow-hidden;
}

.story-hero-bg::before,
.story-hero-bg::after {
  content: "";
  @apply pointer-events-none absolute left-1/2 aspect-square -translate-x-1/2 rounded-full;
  width: clamp(58rem, 150vw, 86rem);
}

.story-hero-bg::before {
  top: -16%;
  z-index: -2;
  background: radial-gradient(ellipse at 50% 50%, #fffafa 50%, #ffe4da 60%, #ffdbcc 100%);
  /* box-shadow: 0 70px 120px 60px rgba(255, 219, 204, 0.42); */
}

.story-hero-bg::after {
  top: -8%;
  z-index: -1;
  background:
    radial-gradient(circle, transparent calc(50% - 18px), rgba(0, 102, 0, 0.55) calc(50% - 17.5px), rgba(0, 102, 0, 0.55) calc(50% - 16.5px), transparent calc(50% - 16px)),
    radial-gradient(circle, transparent calc(50% - 2px), rgba(187, 0, 0, 0.5) calc(50% - 1.5px), rgba(187, 0, 0, 0.5) calc(50% - 0.5px), transparent 50%);
}

.story-hero-bg > .container,
.chapter-cta-bg > .container {
  @apply relative z-10;
}

.chapter-cta-bg {
  @apply relative isolate overflow-hidden;
  background: radial-gradient(circle at 50% 700%, rgb(250, 225, 186) 85%, oklch(98% 0.016 73.684) 90%, rgba(255, 208, 189, 0) 100%);
  background-color: oklch(98% 0.016 73.684);

}

@media (min-width: 768px) {
  .story-hero-bg::before,
  .story-hero-bg::after {
    top: 140%;
    width: clamp(62rem, 112vw, 104rem);
  }
}

@media (min-width: 1024px) {
  .story-hero-bg::before,
  .story-hero-bg::after {
    top: -44%;
    width: clamp(140rem, 112vw, 104rem);
  }
}

@media (min-width: 1280px) {
  .story-hero-bg::before,
  .story-hero-bg::after {
    top: -99%;
    width: clamp(240rem, 10vw, 104rem);
  }
}
